footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #333;
  color: white;
  padding: 64px 0;
}

.footer-logo {
  grid-column: 2 / 4;
}

.footer-links {
  grid-column: 4 / 12;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
